.films {
    margin: 20px;
    color: darkblue;
}

#btn {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 200%;
    width:320px;
    color: white;
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 20px;
    cursor: pointer;
}
.info {
    margin-top: 20px;
}